* {
    background: #00042f;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

div.form {
    height: 500px;
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

div.form form input {
    width: 400px;
    height: 50px;
    border: 1px solid #fff;
    padding-left: 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

div.form form input::-webkit-input-placeholder {
    color: #BABDD9;
}

div.form form button {
    width: 150px;
    height: 50px;
    background: #188dfb;
    color: #fff;
    border: 1px solid #188dfb;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: lighter;
    margin-bottom: 20px;
}

div.form div.passedLink, div.form div.error {
    color: #FF2E85;
    margin-bottom: 10px;
}

div.form div.error {
    display: none;
}

div.form div.shortLink {
    color: #fff;
    font-size: 12px;
    display: none;
}

div.form div.shortLink a {
    color: #188dfb;
    font-size: 20px;
}

div.form div.shortLink div {
    margin-top: 5px;
}