{% extends "base.html.twig" %}

{% block body %}
    <div class="form">

        {% if passedLink %}
            <div class="passedLink">
                Такой укороченной ссылки не существует.
            </div>
        {% endif %}

        <form name='url_form' action="{{ path('ajax.encode_url') }}" method="post">
            {{ form_widget(urlForm) }}
            <p>
                <button type="submit">Укоротить</button>
            </p>
        </form>
        <div class="shortLink">
            <a href=""></a>
            <div>Нажмите на ссылку, чтобы скопировать ее.</div>
        </div>
        <div class="error">
        </div>
    </div>
{% endblock %}